@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Whisper&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --clr-blk: #212121;
    --clr-white: #dbd9d9;
    --clr-green: #6d722a;
    --clr-lightGrey: #e2e2e2;
    --clr-midGreen: #393f2f;
    --clr-darkGreen: #1f211e;
}
body {
    background-color: var(--clr-darkGreen);
    font-family: 'Poppins', sans-serif;
    color: var(--clr-white);
    cursor: default;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background-color: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    background-color: var(--clr-green);
    border-radius: 5px;
}
/*PARALLAX HERO*/
.parallax {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: brightness(95%);
    z-index: -1;
}
.parallax img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.parallax h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    width: 500px;
    max-width: 80%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 500;
    background: var(--clr-darkGreen);
    border: var(--clr-lightGrey) 3px solid;
    padding: 1.25rem;
}
.mobile-graphic {
    display: none;
}
/*CONTENT WRAPPER*/
.content-wrapper {
    max-width: 86rem;
    margin: 0 auto;
}
/*POLAROIDS*/
.polaroids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--clr-darkGreen);
}
.polaroids .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--clr-lightGrey);
    width: 100%;
    padding: 2rem;
}
.polaroids .text h2 {
    line-height: 1.9;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
}
.polaroids .text p {
    font-size: clamp(1rem, 3vw, 1.025rem);
    font-weight: 400;
    line-height: 2;
    margin: 10px auto;
}
.polaroids .text #quote {
    width: 100%;
    font-size: clamp(.9rem, 3vw, 1rem);
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 1.4;
}
.polaroids .text span {
    font-size: 1.4rem;
    position: relative;
    top: .3rem;
}
.polaroids .img-wrapper {
    padding: 2rem;
    position: relative;
}
.polaroids .img-wrapper img {
    width: 100%;
    height: auto;
    border: var(--clr-white) solid 5px;
    border-bottom: 60px solid var(--clr-white);
}
.polaroids .img-wrapper p {
    position: absolute;
    display: inline-block;
    bottom: 3rem;
    left: 0;
    width: 100%;
    color: var(--clr-blk);
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    font-size: clamp(1.8rem, 3vw, 2rem);
    font-family: 'Whisper', cursive;
    font-weight: 500;
}
/*BOOK NOW PARALLAX*/
#parallax-slow {
    padding: 2rem;
    background-image: url(./img/mountain_lake.webp);
    position: relative;
    background-size: cover;
}
#parallax-slow button {
    display: block;
    background-color: var(--clr-blk);
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 25px auto;
    cursor: pointer;
}
#parallax-slow button a {
    display: block;
    color: var(--clr-white);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-decoration: none;
    padding: 15px 25px;
    margin: -15px -25px;
}
#mobile-bg button {
    display: none;
}
/*ACTIVITIES*/
.title {
    position: relative;
    top: 1.5rem;
    width: 90%;
    margin: 0 auto;
}
.title h2 {
    text-align: center;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    letter-spacing: .25px;
    text-transform: uppercase;
    font-weight: 500;
}
.title p {
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.2rem);
    line-height: 1.7;
    letter-spacing: .25px;
}
.activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    gap: 1rem;
    margin: 25px auto;
}
.activities .card {
    padding: 1rem;
    background: rgb(104,108,67);
    background: linear-gradient(137deg, rgb(78, 79, 68) 0%, rgb(37, 39, 35) 18%); 
    border: var(--clr-lightGrey) solid 2px;
    border-radius: 10px;
}
.activities .card .fa-solid {
    font-size: 1.4rem;
}
.activities .card h3 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    margin: .5rem auto .25rem;
}
.activities .card p  {
    color: var(--clr-lightGrey);
    font-size: clamp(.95rem, 3vw, 1rem);
}
/*RENTAL CABINS*/
.cabin-rental-wrapper {
    background-image: url(./img/cabin_rentalBG.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.cabin-rental-wrapper .title.mobile {
    display: none;
}
.cabin-rental {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 45rem;
    margin: 0 auto;
    gap: 1rem;
    padding: 2rem;
}
.cabin-rental .card {
    width: 100%;
    height: 100%;
    color: var(--clr-lightGrey);
    background-color: var(--clr-darkGreen);
    border: solid 2px var(--clr-lightGrey);
    border-radius: 10px;
}
.cabin-rental .card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.cabin-rental .card .icons ul li {
    display: inline-block;
    line-height: 2.3;
}
.cabin-rental .card .icons ul li a {
    position: relative;
}
.cabin-rental .card .icons ul li a::before,
.cabin-rental .card .icons ul li a::after {
    display: none;
}
.cabin-rental .card .icons ul li a:hover:before,
.cabin-rental .card .icons ul li a:hover:after {
    display: inline-block;
}
.cabin-rental .card .icons ul li a::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -3.2rem;
    width: 6rem;
    height: auto;
    background-color: var(--clr-green);
    color: var(--clr-lightGrey);
    padding: .15rem .5rem;
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}
.cabin-rental .card .icons ul li a::after {
    content: '';
    position: absolute;
    bottom: -.65rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: .5rem solid var(--clr-green);
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
}
.cabin-rental .card .icons span {
    font-size: clamp(.6rem, 3vw, .7rem);
    letter-spacing: 5px;
}
.cabin-rental .card .contents {
    padding: .75rem;
}
.cabin-rental .card h3 {
    font-size: clamp(1.1rem, 3vw, 1.2rem);
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
}
.cabin-rental .card h4 {
    font-size: clamp(1rem, 3vw, 1.1rem);
    text-align: left;
    text-transform: capitalize;
    line-height: 2;
    font-weight: 400;
}
.cabin-rental .card p {
    width: 99%;
    height: 6rem;
    margin: 15px auto;
    padding-right: 1rem;
    font-weight: 300;
    letter-spacing: .5px;
    overflow-Y: scroll;
}
.cabin-rental .card p::-webkit-scrollbar-track {
    display: none;
}
.cabin-rental button {
    display: block;
    color: var(--clr-blk);
    background-color: var(--clr-lightGrey);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 25px auto;
    transition: 250ms ease-out;
    cursor: pointer;
}
.cabin-rental button:hover {
    color: var(--clr-lightGrey);
    background-color: var(--clr-green);
}
/*CONTACT FORM*/
.form-container {
    padding: 2rem;
}
.form-container .title.mobile {
    display: none;
}
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    height: auto;
    border: var(--clr-lightGrey) 2px solid;
    border-radius: 7px;
}
.left-section img {
    display: block;
    width: 100%;
    height: 100%;
    padding: .75rem;
}
.right-section {
    width: 95%;
}
.right-section h2 {
    font-size: clamp(1rem, 3vw, 1.2rem);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .75px;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 1px;
    margin: 13px auto;
}
.right-section .input-box input,
.right-section .message-box textarea {
    width: 100%;
    height: 40px;
    margin: 3px auto;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
    background-color: var(--clr-lightGrey);
}
.right-section .message-box textarea {
    min-height: 90px;
    resize: none;
}
.right-section button {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
    padding: .25rem 1rem;
    letter-spacing: 1px;
    background-color: var(--clr-lightGrey);
    color: var(--clr-blk);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: 250ms ease-out;
}
.right-section button:hover {
    color: var(--clr-lightGrey);
    background-color: var(--clr-green);
}
/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-start;
    width: 100%;
    height: auto;
    padding: 2rem 3rem;
    background-color: var(--clr-midGreen);
}
footer h2 {
    font-size: clamp(.95rem, 3vw, 1rem);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}
footer ul li {
    font-size: clamp(.8rem, 3vw, .85rem);
    text-transform: capitalize;
    letter-spacing: .75px;
    list-style: none;
    margin: 10px auto;
}
footer ul li a {
    text-decoration: none;
    color: var(--clr-lightGrey);
    cursor: pointer;
}
/*MEDIA QUERY'S*/
@media screen and (max-width: 986px) {
    .parallax {
        display: none;
    }
    .mobile-graphic {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        filter: brightness(95%);
        z-index: -1;
    }
    .mobile-graphic #medium_screens,
    .mobile-graphic #small_screens,
    .mobile-graphic #extra_small_screens {
        display: none;
    }
    .mobile-graphic img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .mobile-graphic h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        max-width: 80%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: clamp(1.3rem, 3vw, 1.6rem);
        font-weight: 500;
        background: var(--clr-darkGreen);
        border: var(--clr-lightGrey) 3px solid;
        padding: 1.5rem;
        z-index: 1;
    }
    .polaroids {
        grid-template-columns: repeat(1, 1fr);
    }
    .polaroids .text {
        padding: 0 2rem;
    }
    .polaroids .text #quote {
        display: none;
    }
    #parallax-slow {
        display: none;
    }
    #mobile-bg {
        padding: 2rem;
        background-image: url(./img/mountain_lake.webp);
        background-position: bottom;
        position: relative;
        background-size: cover;
    }
    #mobile-bg button {
        display: block;
        background-color: var(--clr-blk);
        border: none;
        border-radius: 5px;
        padding: 15px 25px;
        margin: 25px auto;
        cursor: pointer;
    }
    #mobile-bg button a {
        display: block;
        color: var(--clr-white);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .5px;
        text-decoration: none;
        padding: 15px 25px;
        margin: -15px -25px;
    }
    .activities {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        width: 95%;
        margin: 50px auto;
    }
    .cabin-rental-wrapper {
        background-image: none;
        background-attachment: scroll;
    }
    .cabin-rental-wrapper .title.mobile {
        display: block;
        margin: 50px auto;
    }
    .cabin-rental {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        padding: 0;
    }
    .cabin-rental .card {
        background-color: var(--clr-midGreen);
    }
    .cabin-rental button {
        font-size: clamp(1.1rem, 3vw, 1.2rem);
    }
    .form-container .title.mobile {
        display: block;
        margin: 0 auto 75px;
    }
    .contact-form {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 865px) {
    .mobile-graphic #large_screens,
    .mobile-graphic #small_screens,
    .mobile-graphic #extra_small_screens {
        display: none;
    }
    .mobile-graphic #medium_screens {
        display: block;
    }
    .activities {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 .8rem;
        margin: 50px auto;
    }
    .cabin-rental {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem .8rem;
    }
    footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 0;
    }
}
@media screen and (max-width: 605px) {
    .activities {
        padding: 0 .2rem;
    }
    .cabin-rental {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem .2rem;
    }
    .form-container {
        padding: 1rem;
    }
    footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem 0;
        padding: 2rem 2rem;
    }
}
@media screen and (max-width: 500px) {
    .mobile-graphic #large_screens,
    .mobile-graphic #medium_screens,
    .mobile-graphic #extra_small_screens {
        display: none;
    }
    .mobile-graphic #small_screens {
        display: block;
    }
}
@media screen and (max-width: 300px) {
    .mobile-graphic #large_screens,
    .mobile-graphic #medium_screens,
    .mobile-graphic #small_screens {
        display: none;
    }
    .mobile-graphic #extra_small_screens {
        display: block;
    }
}
@media screen and (orientation: landscape) and (max-width: 1200px) {
    .parallax {
        display: none;
    }
    .mobile-graphic {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        filter: brightness(95%);
        z-index: -1;
    }
    .mobile-graphic img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .mobile-graphic h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        max-width: 80%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: clamp(1.3rem, 3vw, 1.6rem);
        font-weight: 500;
        background: var(--clr-darkGreen);
        border: var(--clr-lightGrey) 3px solid;
        padding: 1.5rem;
        z-index: 1;
    }
    .form-container {
        width: 100%;
    }
}